/* Nord color scheme */
/* https://www.nordtheme.com/ */
:root {
  /* Dark mode */
  --background-dark: #242933;
  --primary-dark: #2E3440;
  --secondary-dark: #3B4252;
  --tertiary-dark: #434C5E;
  --highlight-dark: #4C566A;
  --font-color-dark: #ECEFF4;
  --box-shadow-dark: rgb(15 17 21 / 25%) 0px 18 40 -12, rgb(15 17 21 / 10%) 0px 20 42 -12;
  /* Light mode */
  --background-light: #F2F4F8;
  --primary-light: #fff;
  --secondary-light: #ECEFF4;
  --tertiary-light: #E5E9F0;
  --highlight-light: #4C566A;
  --font-color-light: #4C566A;
  --box-shadow-light: rgb(184 194 215 / 25%) 0px 18 40 -12, rgb(184 194 215 / 10%) 0px 20 42 -12;
  /* misc colors */
  --page-action-btn: #88C0D0;
  /* Theme color */
  --page-font-color: var(--font-color-dark); /* theme color for font */
  --page-box-shadow: var(--box-shadow-dark); /* theme color for font */
  --page-primary-color: var(--primary-dark); /* theme background color*/
  --page-secondary-color: var(--secondary-dark); /* theme background color*/
  --page-tertiary-color: var(--tertiary-dark); /* theme background color*/
  --page-background-color: var(--background-dark); /* theme background color*/
}

html {
  text-size-adjust: 100%;
}

html,
body {
  font-size: 16px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--page-font-color);
  background-color: var(--page-background-color);
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

select,
button {
  font-family: inherit;
  font-weight: 400;
}

.ReactVirtualized__Grid,
.ReactVirtualized__Grid__innerScrollContainer {
  outline: none;
}

@keyframes loading {
  0% {
      background-position: 100% 50%
  }

  to {
      background-position: 0 50%
  }
}
